<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página Inicial</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        background-color: #ccc;
      }
      .menu {
        background-color: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    </style>
  </head>

  <body>
    <nav class="menu">
      <img
        width="100"
        src="https://mmv2api.s3.us-east-2.amazonaws.com/products/images/Item85269.jpg.jpg"
        alt="Logo Site"
      />
      <ul>
        <a href="/">HOME</a>
        <a href="/sobre">SOBRE NÓS</a>
      </ul>
    </nav>
  </body>
</html>
