<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página Inicial</title>
    <link rel="stylesheet" href="../../public/styles/global.css" />
  </head>

  <body>
    <nav class="menu">
      <a href="/">
        <img
          class="logo"
          src="https://mmv2api.s3.us-east-2.amazonaws.com/products/images/Item85269.jpg.jpg"
          alt="Logo Site"
        />
      </a>
      <ul>
        <a href="/contato">CONTATO</a>
        <a href="/sobre">SOBRE NÓS</a>
        <a class="btn-logar" href="/login">LOGAR</a>
      </ul>
    </nav>
  </body>
</html>
